{% extends "templates/web.html" %}

{% block page_content %}
<h3>Agent Details</h3>
<div class="py-20 row">
    <div class="col">
        <h2>Username: {{ username }}</h2>
        <div>
            <p><strong>First name:</strong> {{first_name}}</p>
            <p><strong>Last name:</strong> {{last_name}}</p>
            <p><strong>Email:</strong> {{email}}</p>
            <p><strong>Contact:</strong> {{contact}}</p>
            <p><strong>MVP:</strong> {% if is_mvp %} Yes {%else%} No {%endif%}</p>
            <p><strong>Tenants: </strong></p>
            <p><strong>Property:</strong></p>
        </div>
    </div>
</div>
{% endblock %}
<!-- this is a sample default web page template -->